.burger {
    margin: 35px;
    width: 48px;
    height: 48px;
}

.burger__page {
    box-shadow: 0px 4px 10px 0px #00000040;

    hr {
        max-width: 80%;
    }
}

.button__info {
    margin: 24px auto 0;
    width: 80%;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
        background-color: #f3f4f6;
    }

    &.active {
        background-color: #f3f4f6;
    }
}
