body .App {
    background-color: #f3f4f6;
    display: flex;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.burger__page {
    max-width: 130px;
    background-color: #ffffff;
}

.main__page {
    width: 100%;
    text-align: center;
}
