body {
    background-color: #f3f4f6;
}

p,
ul {
    margin: 0;
}

.App {
    display: flex;
    min-height: 100vh;
    color: #333333;
}

.hidden {
    display: none;
}

.wrapper {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.button {
    color: #ffffff;
    background-color: #000000;
    width: 200px;
    height: 62px;
    box-shadow: 0px 2px 4px 0px #00000040;
    border-radius: 12px;
    padding: 8px 15px;
    font-size: 24px;
    font-weight: 700;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #3d3d3d;
    }

    &:active {
        box-shadow: 0px 2px 4px 0px #000000bf;
    }
}

.theme::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 45px;
    top: 29px;
    background-image: url("./images/moon.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

@media (max-width: 1023px) {

    .button {
        height: 52px;
        font-size: 18px;
    }

    .theme::after {
        background-size: 100%;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 767px) {

    .theme::after {
        width: 30px;
        height: 30px;
    }
}